services:
  identity_db:
    image: postgres:16-alpine
    container_name: identity_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - monitor-net

  redis:
    image: redis:7-alpine
    container_name: identity_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - monitor-net

  identity-service:
    build: .
    container_name: identity-service
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_SERVER=identity_db
      - REDIS_HOST=redis
      - UV_COMPILE_BYTECODE=1
    env_file:
      - .env
    depends_on:
      - identity_db
      - redis
    logging:
      driver: "json-file" 
      options:
        max-size: "10m"
        max-file: "3"
        tag: "{{.Name}}"
    labels:
      logging: "promtail"
      service: "identity-service"
    networks:
      - monitor-net

  worker:
    build: .
    container_name: identity_worker
    command: uv run celery -A app.core.celery_app worker --loglevel=info -E
    volumes:
      - .:/app
    environment:
      - POSTGRES_SERVER=identity_db
      - REDIS_HOST=redis
      - UV_COMPILE_BYTECODE=1
    env_file:
      - .env
    depends_on:
      - redis
      - identity-service
    networks:
      - monitor-net

  flower:
    build: .
    container_name: identity_flower
    command: uv run celery -A app.core.celery_app flower --port=5555
    ports:
      - "5555:5555"
    volumes:
      - .:/app
      - /app/.venv
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - REDIS_HOST=redis
    env_file:
      - .env
    depends_on:
      - redis
      - worker
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - loki
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
      - loki
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards_json:/var/lib/grafana/dashboards
    networks:
      - monitor-net
    
  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - monitor-net
  
  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki
    networks:
      - monitor-net

volumes:
  postgres_data:
  grafana-storage:

networks:
  monitor-net:
    driver: bridge